<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Digite sua nota</h2>
    <div class="at_lab">
        <h3>atividade laboratorio</h3>
        <label for="at_lab"></label>
        <input type="number" id="at_lab" name="at_lab" required>
    </div>
    <div class="prova">
        <h3>prova</h3>
        <label for="at_lab"></label>
        <input type="number" id="prova" name="prova" required>
    </div>
    <div class="trabalhp">
        <h3>trabalho</h3>
        <label for="at_lab"></label>
        <input type="number" id="trabalho" name="trabalho" required>
    </div>
</body>
</html>